<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">BITÁCORA DE NOVEDADES UFA ESPE-SD</h1>
    </section>

    <div class="row">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle">
            <div class="row">
                <div class="col ">
                    <img class="img-fluid img-border img-round" src="https://th.bing.com/th/id/R.5b98491ec288fc204dc2b6d5d410c5ea?rik=ogLo9QnyDSYr7g&pid=ImgRaw&r=0" alt="imagen santo domingo">
                </div>
            </div>
        </section>
    </div>
</main>