
@{
    ViewBag.Title = "Admins";
}

<div class="container mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col text-center">
            <h1>SECCIÓN DE ADMINISTRADOR</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://gmintegraformacion.com/wp-content/uploads/2020/07/curso-online-Herramientas-para-la-gesti%C3%B3n-de-proyectos.jpg" alt="Imagen Vehicular" style="height: 190px;">
                    <a href="~/Admin/Admins" class="btn btn-secondary btn-lg d-flex flex-column align-items-center mt-3" style="width: 100%;">
                        Administración Vehicular
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://www.nutrimind.net/prueba_lang/images/news/usurio_administrador.jpg" alt="Imagen Usuarios" style="height: 190px;">
                    <a href="~/User/AdminUsers" class="btn btn-danger btn-lg d-flex flex-column align-items-center mt-3" style="width: 100%;">
                        Administración Usuarios
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body text-center">
                    <img src="https://pdstrategies.com/images/easyblog_articles/345/b2ap3_large_Message-from-Leader.jpg" alt="Imagen Conductores" style="height: 190px;">
                    <a href="~/Admin/Admins" class="btn btn-success btn-lg d-flex flex-column align-items-center mt-3" style="width: 100%;">
                        Administración Conductores
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
